.container {
  width: 50vw;
  height: 50vw;
  min-width: 18rem;
  min-height: 18rem;
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10vh;
}

.container > img {
  width: 100%;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  z-index: 2000;
  top: 0;
  height: 100%;
  width: 3.5rem;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  align-items: center;
  fill: var(--color-green);
  cursor: pointer;
}

.right {
  right: -3.5rem;
  justify-content: flex-end;
}

.left {
  left: -3.5rem;
  justify-content: flex-start;
}

@media only screen and (max-width: 400px) {
  .container {
    width: calc(100% - 7rem);
    height: calc(100% - 7rem);
    margin-left: 3.5rem;
  }
}
