.modal {
  position: absolute;
  z-index: 10;
  width: 110vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  z-index: 1000;
}