.menuNavigation {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Menu-Font;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}

.selected {
  color: var(--color-green);
}