.menuNavigation {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Menu-Font;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0.5rem;
  background-image: url(../../assets/svg/rolling-pin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15rem;
  padding: 0;
  position: relative;
}

.selected {
  color: var(--color-darkgreen);
}

.icon {
  position: absolute;
  left: 2.4rem;
  top: -1.8rem;
  width: 2.7rem;
}

