.mainContent {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.mainContent h2 {
    text-align: center;
}

.presentation {
  font-family: Menu-Font;
  font-size: 1.3rem;
  width: clamp(20rem, 50vw, 40rem);
  text-align: center;

}