.menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  margin-bottom: 6rem;
}

.title>h2 {
  font-family: Menu-Font;
  font-size: 2rem;
}

.menu>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}