.menuItem {
  display: flex;
  position: relative;
  width: clamp(20rem, 100%, 50rem);
  margin-bottom: 5rem;
  min-height: 8rem;
}

.pictureWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--color-background);
}

.menuItem h3 {
  padding-left: 1rem;
  font-family: Menu-Font;
  font-size: 1.5rem;
  max-width: 80%;
}

.menuItem p {
  padding-left: 1rem;
  max-width: 80%;
}

.textContent {
  width: 80%;
  position: relative;
}

.price {
  margin-left: 1rem;
}

.ingredients {
  color: var(--text-shade)
}

@media only screen and (max-width: 650px) {
  .menuItem {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .pictureWrapper {
    position: relative;
    transform: translate(0);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .menuItem h3 {
    text-align: center;
    padding: 0;
    max-width: 100%;
  }

  .menuItem p {
    padding-left: 1rem;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .textContent {
    width: 100%;
  }
}