@keyframes indicate {
  0% {
    fill: transparent;
  }
  74% {
    fill: transparent;
  }
  75% {
    transform: rotate(-45deg) translate(1rem, 3rem);
  }
  80% {
    transform: rotate(-45deg) translate(0, 0);
  }
  85% {
    transform: rotate(-45deg) translate(1rem, 3rem);
  }
  90% {
    transform: rotate(-45deg) translate(0, 0);
  }
  95% {
    transform: rotate(-45deg) translate(1rem, 3rem);
  }
  100% {
    transform: rotate(-45deg) translate(1rem, 3rem);
  }
}

.menuItem {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  position: relative;
  width: 100%;
  min-width: 20rem;
  max-width: 50rem;
  margin-bottom: 5rem;
  min-height: 8rem;
}

.pictureWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--color-background);
}

.pointerIconContainer {
  position: absolute;
  width: 2rem;
  height: 2rem;
  fill: var(--color-green);
  transform: rotate(-45deg);
  right: 0;
  bottom: 0;
  animation: indicate 7s infinite;
}

.menuItem h3 {
  padding-left: 1rem;
  font-family: Menu-Font;
  font-size: 1.5rem;
  max-width: 80%;
}

.menuItem p {
  padding-left: 1rem;
  max-width: 80%;
}

.textContent {
  width: 80%;
  position: relative;
}

.price {
  margin-left: 1rem;
}

.ingredients {
  color: var(--text-shade);
}

@media only screen and (max-width: 650px) {
  .menuItem {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .pointerIconContainer {
    right: auto;
    margin-left: 6rem;
  }

  .pictureWrapper {
    position: relative;
    transform: translate(0);
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .menuItem h3 {
    text-align: center;
    padding: 0;
    max-width: 100%;
  }

  .menuItem p {
    padding-left: 1rem;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .textContent {
    width: 100%;
  }
}
