@font-face {
  font-family: "Menu-Font";
  src: url("./assets/fonts/Charm-Regular.ttf");
}

html {
  --color-darkgreen: #239738;
  --color-green: #50b04d;
  --color-yellow: #ffee00;
  --color-shade: #a4a3a3;
  --color-shadow: #d5d4d4;
  --color-background: #d0dece;
  --text-primary: black;
  --text-secondary: white;
  --text-shade: #646464;
  font-size: clamp(90%, 2vw, 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#overlay-root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

div,
button,
image {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
