html {
  --color-green: #50b04d;
  --color-yellow: #ffed00;
  --color-shade: #e8e8e8;
  --color-shadow: #cbcbcb;
  --color-background: white;
  --text-primart: black;
  --text-secondary: white;
  --text-shade: #868585;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
