html {
  --color-green: rgba(80, 176, 77, 1);
  --color-yellow: rgba(255, 237, 0, 1);
  --color-shade: rgb(232, 232, 232);
  --color-shadow: rgb(203, 203, 203);
  --text-primart: black;
  --text-secondary: white;
  --text-shade: rgb(134, 133, 133);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
