@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.container {
  border-radius: 100px;
  height: 9.1rem;
  width: 9.1rem;
  position: relative;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.border {
  animation: rotate 30s infinite linear;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
}

.voidCyrcle {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  border-radius: 100px;
  height: 96%;
  width: 96%;
  margin: 0;
}

.void1 {
  position: absolute;
  background-color: var(--color-background);
  left: 1.2rem;
  top: 0.7rem;
  z-index: 100;
  width: 0.6rem;
  height: 1.2rem;
  transform: rotate(52deg);
}

.void2 {
  position: absolute;
  background-color: var(--color-background);
  left: 0.5rem;
  top: 1rem;
  z-index: 100;
  width: 0.8rem;
  height: 2rem;
  transform: rotate(30deg);
}

.void3 {
  position: absolute;
  background-color: var(--color-background);
  left: 2.4rem;
  top: 0.3rem;
  z-index: 100;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(-28deg);
}

.imageWrapper {
  position: absolute;
  overflow: hidden;
  border-radius: 100px;
  height: 90%;
  width: 90%;
}

.imageWrapper img {
  overflow: hidden;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
